.torradeira {
  background-color: lightgray;
  position: relative;
  width: 700px;
  height: 500px;
}

.corpo {
  position: absolute;
  background-color: darkgray;
  right: 0;
  bottom: 0;
  width: 600px;
  height: 300px;
  border-radius: 30px;
  z-index: 2;
}

.botao {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background-color: blue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 5;
}
.solavanco {
  position: absolute;
  right: 45px;
  bottom: 55px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 35px 60.6px 35px;
  border-color: transparent transparent #4f77a1 transparent;
  z-index: 6;
}

.alavanca {
  border-radius: 20px 10px 30px 6px;
  position: absolute;
  background-color: #2E2D38;
  width: 70px;
  height: 35px;
  right: 560px;
  bottom: 220px;
  z-index: 4;
}
.caminho {
  position: absolute;
  background-color: #787888;
  width: 50px;
  height: 230px;
  right: 550px;
  bottom: 40px;
  z-index: 3;
}

.alavanca.ligada {
  /*bottom: 80px;*/
}

.pao {
  border-radius: 30px;
  border: 10px solid #AF6A1E;
  bottom: 200px;
  right: 100px;
  position: absolute;
  background-color: #F2D85E;
  width: 400px;
  height: 250px;
  z-index: 1;
  background-image: url('../img/pao-nao-tostado.jpg');
}

.tostado {
  background-image: url('../img/pao-tostado.jpg');
}
